/*
Errno::ENOENT: No such file or directory - main.scss

Backtrace:
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:454:in `read'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:454:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:294:in `watch'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.1/lib/sass/plugin.rb:109:in `method_missing'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.1/lib/sass/exec/sass_scss.rb:360:in `watch_or_update'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.1/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.1/lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.1/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.1/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
   }

  nav {
    background-color: black;
}

nav li {
  font-family: Shrikhand;
}

.logo{
  padding-left: 1em;
}
.carousel {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 400px;
}

.carousel.carousel-slider {
  top: 0;
  left: 0;
}

 
#experience{
 background-color: black;
}
     
body {
  margin: 0 auto !important;
  max-width: 1200px !important;
  padding: 0 !important;
}
.para{
  color: white;
  padding-top: 3em;
  width:45%;
  right: 20em;
  position: ;

}
  .parallax-container {
    height: 500px;
  }

  #work{
    background-color: black;
    color: white;

  }

  .secondary-bg-color {
    background-color: #f5f4f5;
}

.section-padding {
    padding: 2em 0;
}

.clearfix {
    clear: both;
}
  .grid {
    margin-bottom: 0 !important;
    display: inline-block;
    
} 
  

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
  .row2{
    position: relative;
    left:30em;
    bottom: 10em;
    
  }
  #work{
    background-color: black;
    color: white;
  }

  .img{
    display: inline-block;
    height: 50px;
    
    align-content: center;
    
  }

  footer{
    align-content: center;
    padding-left: 30em;
    border-top: solid black;
    padding-top: 2em;
    padding-bottom: 2em;
  
  }
  .video{
    max-height: 100%;
    max-width:100%;
    min-width: 100;
    min-width:100;
  }

  .contactcontainer  {
    align-content: center;
    margin-left: 10em;
    margin-right: 10em;
    padding-top: 5em;
    padding-bottom: 3em;
  }
  
  
.boxpics{
  display: flex;
  flex-wrap: wrap;
  justify-content: inline;
}


@media screen and (min-width: 50em) {
  a {
    width: calc(25% - 6px);
  }
}



figure {
  margin: 0;
  overflow: hidden;
}



.images {
  border: none;
  max-width: 100%;
  height: auto;
  display: block;
  background: #ccc;
  transition: transform 
}

